body{
  font-family: "Public Sans", sans-serif;
}



.rs-picker-select-menu {
  max-width: 320px;
}

.rs-picker-select-menu-item {
  white-space: normal;
  word-break: break-word;
}

/* Base skeleton */
.sk-skeleton {
  background-color: #e5e7eb;
  border-radius: 6px;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
}

/* Shimmer */
.sk-skeleton::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  background: linear-gradient(90deg,
      transparent,
      rgba(255, 255, 255, 0.6),
      transparent);
  animation: sk-shimmer 1.4s infinite;
}

@keyframes sk-shimmer {
  100% {
    transform: translateX(100%);
  }
}
